
body{
    background-color: rgb(233, 142, 142);
}
h1{
    font-size:5em;

    
}


.glow {
    font-size: 80px;
    color: #140f0f;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }



.fancy{
    display: flex;
    background:white;
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 0;
    width: 50%;
    padding: 75px ;
  text-align: center;
    flex-wrap: wrap;
    
   
}
.responsive-img{
    width: 100%;
    height: auto;
}

.commentCard{
    background:rgb(226, 192, 192);
    padding: 20px;
    margin:10px;
    border-radius: 20px;
    position: relative;
}

header{
  background: rgb(209, 66, 66);
    width: 100%;
    height: 200px;
    text-align: center;
}
#likes{
    margin-right: 50px;
}


.commentAdder{
    
  align-items:center;
  margin: 20px;
  margin-left: 50px;
}

.delete{
    margin-left: 10px;
    position: absolute;
    
    
   
}
.nav{
     border: solid  #e60073 ;
    display: inline;
    margin:100px;
}


.FancyBoxItems{
    width: 100%;
    text-align: left;
}